.auth__main {
    align-items: center;
    background-color: $primary;
    display: flex; //box center
    height: 100vh;
    justify-content: center;
    margin: 0px;
    width: 100vw;
}

.auth__box-container{
    background-color: white;
    box-shadow: 0px 3px $dark-grey;
    border-radius: 2px;
    padding: 20px;
    width: 250px;
}

.auth__title {
    color: darken($color: $primary, $amount: 20);
    margin-bottom: 20px;
}

.auth__input {
    border: 0px;
    border-bottom: 1px solid $light-grey;
    color: $dark-grey;
    font-size: 16px;
    height: 20px;
    margin-bottom: 10px;
    width: 100%;

    transition: border-bottom .3s ease; // animacion boton email-password

    &:focus{
        border-bottom: 1px solid ;
        outline: none;
    }
}

.auth__social-networks {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.auth__alert-error{
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;    
}
